{{!-- this page is for editing articles that already exist.
It needs to have a text box containing the article as well as update and delete buttons --}}


<h1>Edit Article</h1>


    <input type="text" class="article-title" name="title" value="{{article.title}}">
    <textarea name="content" class="article-content" id="updateTextArea">{{article.content}}</textarea>
    <button  data-id="{{article.id}}" class="update-article-btn">Update</button>
    <button  data-id="{{article.id}}" class="delete-article-btn">Delete</button>



<script src="/JS/updateAndDelete.js"></script>